/* font caveat ggoogle  */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Overpass:ital,wght@0,600;1,600&display=swap');


/* common style and utilities */
body{
    font-family: 'Caveat', cursive;
    /* font-family: 'Overpass', sans-serif; */
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF ;
    width: 870px;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
}


.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

/* top players styles */

.top-players{
    margin-bottom: 30px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
  margin-left: 16px;
  font-size: 18px;

}